<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Music Bio</h2>
                              <hr class="light">
              <p class="text-faded">Timo Mulder - bassplayer & musician</br>
              <p class="text-faded">
				2024 - present: Rockacedemie at Fontys Academy of the Arts - Tilburg </br> <a href="https://www.artez.nl/en/course/jazz-pop-arnhem" target="_blank" class="btn btn-default btn">Artez Arnhem</a></br>  
				2021 - 2023: ArtEZ Jazz & Pop at the conservatory - Arnhem </br> <a href="https://www.artez.nl/en/course/jazz-pop-arnhem" target="_blank" class="btn btn-default btn">Artez Arnhem</a></br>
                2020 - 2021: ArtEZ Connected Preparatory Course </br><a href="https://www.artez.nl/opleidingen/externe-vooropleiding" target="_blank" class="btn btn-default btn"> Joost Niekus & Charles Nagtzaam</a></br>
                2019 - present: private bass guitar lessons by </br><a href="http://wiromahieu.com" target="_blank" class="btn btn-default btn"> Wiro Mahieu</a></br>
                2017 - 2019: private violin lessons by </br><a href="http://vioollesnijmegen.nl" target="_blank" class="btn btn-default btn"> Guido Jansen</a></br>
                2010 - 2015: private (double) bass guitar lessons by </br><a href="https://en.wikipedia.org/wiki/Leaf_(Dutch_band)" target="_blank" class="btn btn-default btn"> Joni Scholten</a></br>
                2008 - 2015: generic music and band education at </br><a href="https://www.muziek-op-maat.nl/" target="_blank" class="btn btn-default btn"> Leon van Mook</a></br>

		<div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Bands</h2>
                <hr class="light">
                <p class="text-faded">2021 - 2024: One Man Down </br><a href="https://www.onemandown.nl" target="_blank" class="btn btn-default btn">One Man Down</a>
 
      </br>
<p class="text-faded">2022: musicalcombo </br><a href="https://www.musicalmakers.nl/" target="_blank" class="btn btn-default btn">Urinetown - musicalmakers</a></br>

<p class="text-faded">2023: musicalcombo </br><a href="https://www.stichting-music.nl/" target="_blank" class="btn btn-default btn">Ciske de Rat - stichting music</a></br>
  </div>


                </p>
                <p class="text-faded"><a href="#contact" class="btn btn-default btn-xl page-scroll">contact me</a></p>
            </div>
        </div>
    </div>
</section>




